body{
    background-image: url("img/imagenes/Kanto.png");
    background-size: cover;
    font-family: 'Pokemon Solid', sans-serif;
}
.titulo{
    font-size: 50px;
}
.lista {
    font-size: 30px;
    color: black;
}
a{
    text-decoration: none;
}