body{
    background-image: url("img/imagenes/Kanto.png");
    background-size: cover;
    font-family: 'Pokemon Solid', sans-serif;
}
.titulo{
    font-size: 50px;
    text-align: center;
}
.lista {
    font-size: 30px;
    color: black;
    background-color: rgba(0,0,0,0.5);
}
a{
    text-decoration: none;
}