body{
    background-image: url("img/imagenes/Kanto.png");
    background-size: cover;
    font-family: 'Pokemon Solid', sans-serif;
}
.lista {
    font-size: 40px;
    color: black;
}
a{
    text-decoration: none;
}